@use '../helpers/' as *;

.burger-button{
	position: relative;
	z-index: 11;
	width: rem(48);
	height: rem(48);
	padding: rem(6);
	display: flex;
		flex-direction: column;
		justify-content: space-around;
		&__line{
		transition: var(--transition);
		position: absolute;
		width: rem(42);
		height: rem(3);
		background-color: var(--color-dark);
		border-radius: var(--border-radius-large);
		&:first-child{
			transform: translateY(rem(14));
		}
		&:last-child{
			transform: translateY(rem(-14));
		}
	}
}
.open{
	.burger-button__line:first-child{
		transform: rotate(45deg);
	}
	.burger-button__line:last-child{
		transform: rotate(-45deg);
	}
	.burger-button__line:nth-child(2){
		opacity: 0;
	}
}
