@font-face {
	font-family: 'Space Grotesk';
	src: url(/public/assets/font/SpaceGrotesk-Regular.ttf);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Space Grotesk';
	src: url(/public/assets/font/SpaceGrotesk-Medium.ttf);
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Space Grotesk';
	src: url(/public/assets/font/SpaceGrotesk-Bold.ttf);
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
