@use './helpers/' as *;

body{
	@include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: var(--regular);
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--white);
}

a{
  color: inherit;
}
